<footer>
    <div class="center">
        <ul>
            <li><a href="#">UrlShortener</a></li>
            <li><a href="click">URL Click Counter</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</footer>