<div>
    <table style="width: 70%;margin-left:15%">

        <tr>
            <td>
                <div align="center" class="icon"><img src="img/easy.png"></div>
                <h3 align="center">Easy</h3>
                <p align="center">ShortURL is easy and fast, enter the long link to get your shortened link</p>
            </td>
            <td>
                <div align="center" class="icon"><img src="img/shortened.png"></div>
                <h3 align="center">Shortened</h3>
                <p align="center">Use any link, no matter what size, ShortURL always shortens</p>
            </td>
            <td>
                <div align="center" class="icon"><img src="img/secure.png"></div>
                <h3 align="center">Secure</h3>
                <p align="center">It is fast and secure, our service have HTTPS protocol and data encryption
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <div align="center" class="icon"><img src="img/stats.png"></div>
                <h3 align="center">Statistics</h3>
                <p align="center">Check the amount of clicks that your shortened url received</p>
            </td>
            <td>
                <div align="center" class="icon"><img src="img/reliable.png"></div>
                <h3 align="center">Reliable</h3>
                <p align="center">All links that try to disseminate spam, viruses and malware are deleted</p>
            </td>
            <td>
                <div align="center" class="icon"><img src="img/devices.png"></div>
                <h3 align="center">Devices</h3>
                <p align="center">Compatible with smartphones, tablets and desktop</p>
            </td>
</div>
</tr>
</table>
</div>