<nav class="navbar navbar-extend navbar-dark" style="background-color: #007bff;">
    <a href="/"><img style="width:60px;height:60px;border-radius: 25px 25px 25px 25px;" src="img/logo.png"></a>
    <ul style="align-items:center">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/click">Stats</a>
        </li>
    </ul>
</nav>