<form action="/shortenURL" method="POST">
    <div class="form-group">
        <input type="text" class="form-control-lg" tabindex="1" placeholder="Type URL" name="longurl" id="longurl"
            required focus />
    </div>
    <div class="form-group row">
        <ul>
            <li>
                <button type="submit" class="btn btn-success" style="width: 250px;">Shorten URL</button>
            </li>
            <li>&nbsp;</li>
            <li>
                <button type="button" class="btn btn-primary" style="width: 250px;" data-toggle="modal"
                    data-target="#customurlModal">Custom
                    Shortened
                    URL</button>
            </li>
        </ul>
    </div>
    </div>
</form>